# Project Configuration
PROJECT_NAME="MicroShop E-Commerce"
DEBUG=True

# Database Configuration
# Local SQLite default:
DATABASE_URL="sqlite+aiosqlite:///./microshop.db"

# Production PostgreSQL example:
# DATABASE_URL="postgresql+asyncpg://micro_user:micro_pass@postgres:5432/microshop_db"
# POSTGRES_USER=micro_user
# POSTGRES_PASSWORD=micro_pass
# POSTGRES_DB=microshop_db

# Redis Configuration
REDIS_URL="redis://redis:6379/0"

# JWT Security
SECRET_KEY="super-secret-key-change-in-production"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Internal Microservices Gateway Routes (inside Docker network)
GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
PRODUCT_SERVICE_PORT=8002
ORDER_SERVICE_PORT=8003

AUTH_SERVICE_URL="http://auth-service:8001"
PRODUCT_SERVICE_URL="http://product-service:8002"
ORDER_SERVICE_URL="http://order-service:8003"
