@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap');
:root {
  --background: #5e0006;

  --primary: #ffe7cb;

  --text: #f5ebdd;

  --secondary: #b58f7d;

  --accent: #d6b98c;
}
html {
  scroll-behavior: smooth;
}
