/* =========================
   OFFER TITLE
========================= */
.offer-title{
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 30px auto;
}
.right-txt{
  text-align: right;
}
.right-txt h2{
  color: var(--text);
}
.right-txt span {
  display: flex;
  align-items: center;
  gap: 12px;
  direction: rtl;

  color: var(--accent);

  font-weight: 500;
}
.right-txt span::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--accent);
  flex-shrink: 0;
}


/* =========================
   OFFER SLIDER
========================= */

.offer-slider {
  position: relative;

  width: 1300px;

  margin: 0 auto;
}

/* =========================
   VIEWPORT
========================= */

.offer-viewport {
  width: 1300px;

  overflow: hidden;
}

/* =========================
   TRACK
========================= */

.offer-track {
  display: flex;

  gap: 16px;

  transition: transform 0.4s ease;
}

/* =========================
   PRODUCT CARD
========================= */

.offer-track > .ProductCart {
  flex: 0 0 312px;
}

/* =========================
   SLIDER BUTTON
========================= */

.offer-slider-btn {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;

  background-color: var(--accent);
  color: var(--text);

  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 10;
}

/* =========================
   PREVIOUS
========================= */

.offer-slider-btn.prev {
  left: -60px;
}

/* =========================
   NEXT
========================= */

.offer-slider-btn.next {
  right: -60px;
}
@media (max-width: 900px) {
  .offerProductCart {
    display: flex;
    gap: 16px;

    overflow-x: auto;
    padding: 0 20px 15px;

    scroll-snap-type: x mandatory;

    scrollbar-width: none;
  }
  .offerProductCart::-webkit-scrollbar {
    display: none;
  }
  .offertitle {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
  }
  .offertitle::before,
  .offertitle::after {
    content: "";
    height: 2px;
    flex: 1;
  }
}
